- if @teams_error_message
  = content_for :flash_message do
    .alert.alert-danger= @teams_error_message

%p
  您不是
  %strong= Gitlab.config.mattermost.host
  的Mattermost实例上的任何团队的成员
%p
  要安装此服务，
  = link_to "#{Gitlab.config.mattermost.host}/select_team", target: '__blank' do
    加入一个团队
    = icon('external-link')
  然后重试。
%hr
.clearfix
  = link_to 'Go back', edit_namespace_project_service_path(@project.namespace, @project, @service), class: 'btn btn-lg pull-right'
