%p
  您不是
  %strong= link_to Gitlab.config.mattermost.host, Gitlab.config.mattermost.host
  的Mattermost实例上的任何团队的成员
%hr
= form_for(:mattermost, method: :post, url: namespace_project_mattermost_path(@project.namespace, @project)) do |f|
  %h4 团队
  %p
    = @teams.one? ? '在团队中' : '选择团队中'
    中使用斜杠命令
  - selected_id = @teams.one? ? @teams.keys.first : 0
  - options = mattermost_teams_options(@teams)
  - options = options_for_select(options, selected_id)
  = f.select(:team_id, options, {}, { class: 'form-control', selected: "#{selected_id}" })
  = f.hidden_field(:team_id, value: selected_id) if @teams.one?
  .help-block
    - if @teams.one?
      这是唯一一个您是管理员的团队。
    - else
      该列表显示您是管理员的团队
    要创建团队，请咨询您的Mattermost系统管理员。
    创建一个团队，
    = link_to "#{Gitlab.config.mattermost.host}/create_team" do
      使用Mattermost的界面
      = icon('external-link')
    或询问您的Mattermost系统管理员。
  %hr
  %h4 命令触发文字
  %p 选择将触发命令的词
  = f.text_field(:trigger, value: @project.path, class: 'form-control')
  .help-block
    %p
      触发词必须是唯一的，不能以斜杠开头或包含任何空格。
      使用最适合您团队的词。
    %p
      建议：
      %code= 'gitlab'
      %code= @project.path # Path contains no spaces, but dashes
      %code= @project.path_with_namespace
    %p
<<<<<<< HEAD
      保留：
      = link_to 'https://docs.mattermost.com/help/messaging/executing-commands.html#built-in-commands', target: '__blank' do
        请参阅内置斜杠命令列表
=======
      Reserved:
      = link_to 'https://docs.mattermost.com/help/messaging/executing-commands.html#built-in-commands', target: '__blank' do
        see list of built-in slash commands
>>>>>>> 8-16-stable
        = icon('external-link')
  %hr
  .clearfix
    .pull-right
      = link_to 'Cancel', edit_namespace_project_service_path(@project.namespace, @project, @service), class: 'btn btn-lg'
      = f.submit 'Install', class: 'btn btn-save btn-lg'
