.bs-callout.clearfix
  %p
    显示过去#{@cohorts[:months_included]}个月的用户使用率。
    只有活跃的用户才能计入使用率总数，
    非活跃用户单独计算。
    = link_to icon('question-circle'), help_page_path('user/admin_area/user_cohorts', anchor: 'cohorts'), title: 'About this feature', target: '_blank'

.table-holder
  %table.table
    %thead
      %tr
        %th 注册月份
        %th 非活跃用户
        %th 队列总数
        - @cohorts[:months_included].times do |i|
          %th #{i}月
    %tbody
      - @cohorts[:cohorts].each do |cohort|
        %tr
          %td= cohort[:registration_month]
          %td= cohort[:inactive]
          %td= cohort[:total]
          - cohort[:activity_months].each do |activity_month|
            %td
              - next if cohort[:total] == '0'
              = activity_month[:percentage]
              %br
              = activity_month[:total]
