- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }
  - if @cohorts
    = render 'cohorts_table'
    = render 'usage_ping'
  - else
    .bs-callout.bs-callout-warning.clearfix
      %p
        仅当启用
        = link_to '使用ping', help_page_path('user/admin_area/settings/usage_statistics', anchor: 'usage-ping'), target: '_blank'
        时才会显示用户队列。
        要启用它并查看用户队列，请访问
        = succeed '。' do
          = link_to '应用程序设置', admin_application_settings_path(anchor: 'usage-statistics')
